@media (min-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
  }
}
.main {
  margin-top: 60px;
}

.products-grid {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 425px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-container {
  padding: 40px 25px 25px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}

.loader-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: white;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid #007185;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.product-extra-links {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.product-extra-link {
  margin-top: -7px;
  font-size: 14px;
  color: rgb(1, 124, 182);
  text-decoration: none;
  cursor: pointer;
}

.product-extra-link:hover {
  color: rgb(196, 80, 0);
  text-decoration: underline;
}

.not-found {
  color: red;
  margin-top: 50px;
  margin-bottom: 200px;
}
.go-to-home {
  color: blue;
  text-decoration: none;
  transition: all 0.2s ease;
}
.go-to-home:hover {
  padding: 2px;
  border: 2px solid rgb(5, 5, 82);
  background-color: #85d4e2;
}
.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
